<footer>
    <div class="footer-main">
        <a href="{{path('home')}}">
            <img src="{{asset('build/images/logo.jpg')}}" alt="logo">
        </a>
        <div class="social">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-envelope"></i></a>
        </div>
    </div>
    <div class="mentions">
        <p>
            MENTIONS LÉGALES
            <br>
            DÉVELOPPÉ PAR CARVALHO LOUIS
        </p>
    </div>
</footer>